{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    Welcome
{% endblock title %}

{% block content %}

    {% if current_user.is_authenticated %}
        <div class="container">
            <h1>Welcome {{username}} </h1>
            <h6><a href="{{url_for('auth.logout')}}">Logout</a></h6>
        </div> 
    {% else %}
        <div class="container">
            <h1><a href="{{url_for('auth.signup')}}">Singup</a></h1>
            <h1><a href="{{url_for('auth.login')}}">Login</a></h1>
        </div>  
    {% endif %}

{% endblock content %}