{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'macros.html' as macros %}

{% block title %}
    Welcome
{% endblock title %}

{% block content %}

    <div class="container">
        <h1>To Do List</h1>
        {% if current_user.is_authenticated %}
            <h1>Welcome {{username}} </h1>
            <h6><a href="{{url_for('auth.logout')}}">Logout</a></h6>

            <!--Create To Do-->
            <div>
                <h2>Create To Do</h2>
                {{ render_form(create_todo_form, action="/todo/create") }}
            </div>

            <!--My To Do list-->
            <div>
                <h2>To Do List</h2>
                <ul>
                    {% for todo in todo_list %}
                        {{macros.render_todo(todo, done_todo_form, delete_todo_form)}}
                    {% endfor %}
                </ul>
            </div>

        {% else %}
            <h1><a href="{{url_for('auth.login')}}">Login</a></h1>
            <h1><a href="{{url_for('auth.signup')}}">Don't have an account?: Singup</a></h1>
        {% endif %}
    </div>

{% endblock content %}